
#DUB & Dlang related
.dub/
LcdaAccountManager
LcdaAccountManager.exe
*.dll

#Unittests, coverage & profiling
__test__library__
*.lst
*.def
*.log

#Angular / Node
node_modules/
public/
npm-debug.log.*

#Project
LcdaAccountManager.sublime-workspace

#Misc
config.json

