<div class="navbar-fixed">
	<nav role="navigation" class="light-blue lighten-1">
		<div class="nav-wrapper container">
			<ul class="left">
				<li>
					<a href="#" id="sidebar-button" class="button-collapse" data-activates="sidebar"><i class="mdi-navigation-menu"></i></a>
				</li>
				<li>
					<a href="/" class="flow-text">
						<img src="/img/logo.png" style="vertical-align: middle;" alt="">
						La Colère d'Aurile
					</a>
				</li>
			</ul>
			<ul class="right">
				<li *ngIf="session.authenticated" class="flow-text">{{session.account}}</li>
				<li>
					<a *ngIf="!session.authenticated" href="#modal-login" id="modal-login-button" class="btn waves-effect waves-light modal-trigger" data-target="modal-login" materialize="leanModal">
						Connexion
					</a>
					<a *ngIf="session.authenticated" href="#" (click)="logout()" class="btn waves-effect waves-light modal-trigger">
						Déconnexion
					</a>
				</li>
			</ul>
		</div>

	</nav>
</div>
<ul id="sidebar" class="side-nav fixed">
	<li>
		<a [routerLink]="['CharList',{account:'Crom 29'}]" class="activable">
			<i class="material-icons left" style="line-height: 64px;">face</i>
			Crom 29/list
		</a>
	</li>
	<li>
		<a [routerLink]="['CharDetails',{account:'Crom 29', char:'aoroducormyr'}]" class="activable">
			<i class="material-icons left" style="line-height: 64px;">face</i>
			aoroducormyr
		</a>
	</li>
	<li><hr></li>
	<li>
		<a href="#" class="activable">
			<i class="material-icons left" style="line-height: 64px;">add_circle_outline</i>
			Nouveau compte
		</a>
	</li>
	<li>
		<a href="#" class="activable">
			<i class="material-icons left" style="line-height: 64px;">forum</i>
			Forum
		</a>
	</li>
</ul>
<div id="modal-login" class="modal">
	<div class="modal-content">
		<h4>Connexion</h4>
		<form (ngSubmit)="submitLoginForm()">
			<div class="input-field">
				<div class="material-icons prefix">account_circle</div>
				<input type="text" class="validate" id="login" name="login" [(ngModel)]="loginForm.login">
				<label for="login">Compte {{loginForm.name}}</label>
			</div>
			<div class="input-field">
				<div class="material-icons prefix">lock</div>
				<input type="password" class="validate" id="password" name="password" [(ngModel)]="loginForm.password">
				<label for="password">Mot de passe</label>
			</div>
			<div class="input-field">
				<input type="submit" class="btn waves-effect waves-light" value="Connexion">
			</div>
		</form>
	</div>
</div>

<!-- PAGE CONTENT -->
<main>
	<div class="container" style="padding-top: 10px;">
		<router-outlet>
		</router-outlet>
	</div>
</main>



<script>
	// $(document).ready(function(){
	// 	$('.modal-trigger').leanModal();
	// 	$('.sidebar-button').sideNav();

	// 	$('a.activable').each(function(){
	// 		if($(this).attr("href")==$(location).attr('href'))
	// 			$(this).addClass("active");
	// 	});
	// });
	// function post(path, parameters) {
	// 	var form = $('<form method="post"></form>');
	// 	form.attr("action", path);

	// 	if(parameters){
	// 		$.each(parameters, function(key, value) {
	// 			var field = $('<input type="hidden"></input>');
	// 			field.attr("name", key);
	// 			field.attr("value", value);
	// 			form.append(field);
	// 		});
	// 	}
	// 	$(document.body).append(form);
	// 	form.submit();
	// }
	// $('#logout').click(function(){
	// 	post("/logout");
	// });
</script>