
<div class="row">
	<h3>Personnages actifs</h3>

	<table class="highlight">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Race</th>
				<th>Niveau</th>
				<th>Classe(s)</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="#char of activeChars">
				<td class="flow-text"><a href="#">{{char.name}}</a></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>

</div>

<div class="row">
	<h3>Personnages supprimés</h3>

	<table class="highlight">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Race</th>
				<th>Niveau</th>
				<th>Classe(s)</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="#char of deletedChars">
				<td class="flow-text"><a href="#">{{char.name}}</a></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>