header, main, footer {
	padding-left: 240px;
}
@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}
#slide-out{
	top: 64px;
	bottom: 0px;
	height: auto;
}
table.condensed td,
tr.condensed td{
	padding: 8px 5px;
}
.small-padding{
	padding: 5px;
}

.progress.char-alignment{
	background-color: #BC1F15;
	height: 8px;
}
.progress.char-alignment>div{
	background-color: #00B80E;
}

a{
	/* Links with Angular have no href property */
	cursor: pointer;
}