<div class="navbar-fixed">
	<nav role="navigation" class="light-blue lighten-1">
		<div class="nav-wrapper container">
			<ul class="left">
				<li>
					<a id="sidebar-button" materialize="sideNav" class="button-collapse" data-activates="sidebar"><i class="mdi-navigation-menu material-icons">menu</i></a>
				</li>
				<li>
					<a href="/" class="flow-text">
						<img src="/img/logo.png" style="vertical-align: middle;" alt="">
						<span class="hide-on-med-and-down">La Colère d'Aurile</span>
					</a>
				</li>
			</ul>
			<ul class="right">
				<li *ngIf="session.authenticated" class="flow-text">{{session.account}}</li>
				<li>
					<a *ngIf="!session.authenticated" id="modal-login-button" class="btn waves-effect waves-light modal-trigger" data-target="modal-login" materialize="leanModal">
						Connexion
					</a>
					<a *ngIf="session.authenticated" (click)="logout()">
						<i class="material-icons right">exit_to_app</i> Déconnexion
					</a>
				</li>
			</ul>
		</div>

	</nav>
</div>
<ul id="sidebar" class="side-nav fixed">
	<li *ngIf="session.authenticated">
		<a [routerLink]="['CharList',{account: session.account}]" class="activable">
			<i class="material-icons left" style="line-height: 64px;">face</i>
			Personnages
		</a>
	</li>
	<li *ngIf="session.authenticated">
		<a [routerLink]="['Account',{account: session.account}]" class="activable">
			<i class="material-icons left" style="line-height: 64px;">settings</i>
			Mon compte
		</a>
	</li>
	<li *ngIf="session.authenticated"><hr></li>
	<li>
		<a [routerLink]="['NewAccount']" class="activable">
			<i class="material-icons left" style="line-height: 64px;">add_circle_outline</i>
			Nouveau compte
		</a>
	</li>
	<li>
		<a href="http://lacoleredaurile.xooit.fr/" class="activable">
			<i class="material-icons left" style="line-height: 64px;">forum</i>
			Forum
		</a>
	</li>
</ul>
<div id="modal-login" class="modal">
	<div class="modal-content">
		<h4>Connexion</h4>
		<form (ngSubmit)="submitLoginForm()">
			<div class="input-field">
				<div class="material-icons prefix">account_circle</div>
				<input type="text" class="validate" id="login" name="login" [(ngModel)]="loginForm.login">
				<label for="login">Compte LCDA</label>
			</div>
			<div class="input-field">
				<div class="material-icons prefix">lock</div>
				<input type="password" class="validate" id="password" name="password" [(ngModel)]="loginForm.password">
				<label for="password">Mot de passe</label>
			</div>
			<div class="input-field">
				<input type="submit" class="btn waves-effect waves-light" value="Connexion">
				<span class="red-text right">{{loginErrorMsg}}</span>
			</div>
		</form>
	</div>
</div>

<!-- PAGE CONTENT -->
<main>
	<div class="container" style="padding-top: 10px;">
		<router-outlet>
		</router-outlet>
	</div>
</main>